<form [formGroup]="dataTableForm">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label>First Name</label>
                <input type="string" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label>Last Name</label>
                <input type="string" class="form-control" formControlName="last">
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label>Address</label>
                <input type="string" class="form-control" formControlName="address">
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label>mobile</label>
                <input type="string" class="form-control"  formControlName="phone">
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label>balance</label>
                <input type="string" class="form-control" formControlName="balance">
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label>email</label>
                <input type="string" class="form-control" formControlName="email">
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label>isActive</label>
                <select class="form-control" formControlName="isActive">
                    <option value="true">
                        yes
                    </option>
                    <option value="false">
                        NO
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" formControlName="date">
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <label>age</label>
                <input type="number" class="form-control" formControlName="age">
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <button class="btn btn-primary" type="button" (click)="onSubmit()">Submit</button>
            <button type="button" class="ml-2" (click)="previousState()">Back</button>
        </div>
    </div>
</form>