<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <label>FirstName:</label>
           {{displayedObject.name.first}}
        </div>
        <div class="col-sm-6">
            <label>LastName:</label>
            {{displayedObject.name.last}}
        </div>
        <div class="col-sm-6">
            <label>Address:</label>
            {{displayedObject.address}}
        </div>
        <div class="col-sm-6">
            <label>Mobile:</label>
            {{displayedObject.phone}}
        </div>
        <div class="col-sm-6">
            <label>Balance:</label>
            {{displayedObject.balance}}
        </div>
        <div class="col-sm-6">
            <label>Email:</label>
            {{displayedObject.email}}
        </div>
        <div class="col-sm-6">
            <label>isActive:</label>
            {{displayedObject.isActive}}
        </div>
        <div class="col-sm-6">
            <label>Date:</label>
            {{displayedObject.date}}
        </div>
        <div class="col-sm-6">
            <label>age:</label>
            {{displayedObject.age}}
        </div>
    </div>
</div>