<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <label class="font-weight-bold">FirstName:</label>
            {{displayedObject.name.first}}
        </div>
        <div class="col-sm-6">
            <label class="font-weight-bold">LastName:</label>
            {{displayedObject.name.last}}
        </div>
        <div class="col-sm-6">
            <label class="font-weight-bold">Address:</label>
            {{displayedObject.address}}
        </div>
        <div class="col-sm-6">
            <label class="font-weight-bold">Mobile:</label>
            {{displayedObject.phone}}
        </div>
        <div class="col-sm-6">
            <label class="font-weight-bold">Balance:</label>
            {{displayedObject.balance}}
        </div>
        <div class="col-sm-6">
            <label class="font-weight-bold">Email:</label>
            {{displayedObject.email}}
        </div>
        <div class="col-sm-6">
            <label class="font-weight-bold">isActive:</label>
            {{displayedObject.isActive}}
        </div>
        <div class="col-sm-6">
            <label class="font-weight-bold">Date:</label>
            {{displayedObject.date}}
        </div>
        <div class="col-sm-6">
            <label class="font-weight-bold">age:</label>
            {{displayedObject.age}}
        </div>
        <div class="col-sm-12">
            <button  type="button" class="btn btn-danger float-right" (click)="previousState()">Back</button>
        </div>
    </div>
</div>