  <div class="container">
    <div class="conversionBlock">
    <form class="form-inline" role="form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <label for="control-label">Source Currencies Rates:&nbsp;</label>
        <select formControlName="targetSource" class="form-control" id="source-field" (change)="onSourceChange($event)">
          <option value="" [selected]="'Latest'" hidden>Select Source Rate</option>
          <option *ngFor="let option of apisSource" [ngValue]="option" >{{ option.key }}</option>
        </select>
        <div *ngIf="submitted && isFieldValid('targetSource')">
          <div style="font-size: 12px; color: red">
            Source rate is required 
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
        <label for="control-label">Date:&nbsp;</label>
        <div class="input-group">
          <input class="form-control" formControlName="datePicker" placeholder="yyyy-mm-dd"
                 name="dp"  [(ngModel)]="model" (ngModelChange)="onDateChange(model)" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" [disabled]="disabled" type="button"></button>
          </div>
        </div>
        <div *ngIf="dateError">
          <div style="font-size: 12px; color: red">
            Please select any past date from today
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3 offset-lg-2 col-xl-3">
        <label for="control-label">Amount:&nbsp;</label>
        <input class="form-control" type="number" input-group-sm formControlName="amount" placeholder="Enter Amount">
        <div *ngIf="submitted && isFieldValid('amount')">
          <div style="font-size: 12px; color: red">
            Amount is required
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <label for="control-label">Base Currency:&nbsp;</label>
        <select formControlName="countryRates" class="form-control" id="base-currency-field">
          <option value='' [selected]="'Select Base Currency'" hidden>Select Base Currency</option>
          <option *ngFor="let option of currencyRates" [ngValue]="option" >{{ option.currencyCode }}</option>
        </select>
        <div *ngIf="submitted && isFieldValid('countryRates')">
          <div style="font-size: 12px; color: red">
            Base currency is required
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3 offset-lg-1">
        <label for="control-label">Target Currency:&nbsp;</label>
        <select formControlName="targetRates" class="form-control" id="target-rates">
          <option value='' [selected]="'Select Target Currency'" hidden>Select Target Currency</option>
          <option *ngFor="let option of currencyRates" [ngValue]="option" >{{ option.currencyCode }}</option>
        </select>
        <div *ngIf="submitted && isFieldValid('targetRates')">
          <div style="font-size: 12px; color: red">
            Target currency is required
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3 offset-lg-2">
        <button  type="submit" class="btn btn-primary">Convert</button>
      </div>
    </form>
  </div>
  
  <div class="currencyTable" *ngIf="isVisible">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Base Currency</th>
          <th scope="col">Target Currency</th>
          <th scope="col">Base Rate</th>
          <th scope="col">Amount</th>
          <th scope="col">Converted Amount</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of convertedRates; let i = index">
        <tr>
          <td>{{data.baseCurrencyCode}}</td>
          <td>{{data.countryCurrencyCode}}</td>
          <td>{{'1&nbsp;' + data.baseCurrencyCode + '=' + data.currencyRate + '&nbsp;' + data.countryCurrencyCode}}</td>
          <td>{{data.amount | currency:data.baseCurrencyCode}}</td>
          <td><span>{{data.convertedCountryRate | currency:data.countryCurrencyCode:'symbol':'1.0-2' }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
