.currencyTable {
    margin-top: 10px;
}
button, input, optgroup, select, textarea {
    padding: 5px;
}

.form-inline .control-label{
     text-align:left;
}

.conversionBlock {
     border: 5px solid #f5f5f5;
     padding: 20px;
}

@media (min-width: 576px) {
   .form-inline .form-group {
        margin-bottom: 10px;
   }
   #source-field {
        padding-right: 50px;
   }
   #base-currency-field {
        padding-right: 27px;
   }
   #target-rates {
     width: inherit;
   }
   .btn-primary {
    margin-top: 15px;
    padding-right: 75px !important;
    padding-left: 75px !important;
   }
   
}

@media (min-width: 768px) {
    .form-inline .form-group {
         margin-bottom: 10px;
    }
    #source-field {
         padding-right: 30px;
    }
    #base-currency-field {
         padding-right: 0px !important;
    }
    #target-rates {
       width: inherit;
    }
    .btn-primary {
        margin-top: 15px;
        padding-right: 78px !important;
        padding-left: 78px !important;
       }
 }

 @media (min-width: 992px) {
    .form-inline .form-group {
         margin-bottom: 10px;
    }

    #base-currency-field[_ngcontent-opv-c1] {
        padding-right: 14px !important;
    }
 }

 @media (min-width: 1200px) {
     .form-inline .form-group {
          margin-bottom: 10px;
     }
     #source-field {
          padding-right: 70px;
     }
     #base-currency-field {
          padding-right: 55px !important;
     }
 
  }

 /* 
 ng-bootstrap calender icon
 */
 button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
 }