  <div class="container">
    <form class="form-inline" role="form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label for="base">Select Source Rate:&nbsp;</label>
        <select class="source-field" formControlName="targetSource" (change)="onSourceChange($event)">
          <option *ngFor="let option of apisSource" [ngValue]="apisSource">{{option.key}}</option>
        </select>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label for="amount">Date:&nbsp;</label>
        <div class="input-group">
          <input class="form-control" formControlName="datePicker" placeholder="yyyy-mm-dd"
                 name="dp"  [(ngModel)]="model" (ngModelChange)="onDateChange(model)" ngbDatepicker #d="ngbDatepicker" [disabled]="disabled">
          <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label for="amount">Amount:&nbsp;</label>
        <input type="number" input-group-sm formControlName="amount" placeholder="Enter Amount">
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-4">
        <label for="base">Base Currency:&nbsp;</label>
        <select class="base-currency-field" formControlName="countryRates">
          <option [ngValue]="null" disabled>-- Select base currency --</option>
          <option *ngFor="let option of currencyRates;let i = index" [ngValue]="option">{{option.currencyCode}}</option>
        </select>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-6">
        <label for="target-rates">Target Currency:&nbsp;</label>
        <select class="targetRates" formControlName="targetRates">
          <option [ngValue]="null" disabled>-- Select target currency --</option>
          <option *ngFor="let option of currencyRates;let i = index" [ngValue]="option">{{option.currencyCode}}</option>
        </select>
      </div>
      <div class="form-group col-xs-12 col-sm-6 col-md-2">
        <button  type="submit" class="btn btn-primary">Convert</button>
      </div>
    </form>
  <lib-currency-main></lib-currency-main>
  
  <div class="currencyTable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Amount</th>
          <th scope="col">Base Currency</th>
          <th scope="col">Target Currency</th>
          <th scope="col">Base Rate</th>
          <th scope="col">Converted Rate</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of convertedRates; let i = index">
        <tr>
          <th scope="row">{{i + 1}}</th>
          <td>{{data.amount | currency:data.baseCurrencyCode}}</td>
          <td>{{data.baseCurrencyCode}}</td>
          <td>{{data.countryCurrencyCode}}</td>
          <td>{{data.currencyRate}}</td>
          <td><span>{{data.convertedCountryRate | currency:data.countryCurrencyCode:'symbol':'4.2-2' }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
